<!DOCTYPE html>
<div class="center jumbotron">
  <h1 class= "stroke">ALPHA BLOG</h1>
    <% if !logged_in? %>
      <div>
        <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg btn-xlarge sign-up" %>
      </div>
    <% end %>
</div>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">-->
    	<!--<link rel="stylesheet" type="text/css" href="styles.css">-->
    <title>Ruby on Rails</title>
  </head>
  <body>
    <div class="header">
      <div>
    <div class="container-fluid">
<!--      <h1 class="text-center">Welcome to Rails</h1>
    </div>
    <div class="container">
        <div class="row">
          <div class="col">
            <p>Hello this site is a work in progress that I am completeing in my spare time while working on the <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course/">"Complete Ruby on Rails Developer Course"</a> at Udemy.com. This course has over 30 hours of instruction with multiple projects to represent the varied skills needed in the workplace.</p>-->
          </div>
        </div>
        <div class="footer">
        </div>
    </div>
   </body>
</html>