<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    	<link rel="stylesheet" type="text/css" href="styles.css">
    <title>Ruby on Rails</title>
  </head>
  <body>
    <div class="header">
      <div>
    <div class="container-fluid">
      <h1 class="text-center">Welcome to Rails</h1>
    </div>
    <div class="container">
        <div class="row">
          <div class="col">
            <p>I want to learn rails for a specific job that would afford me a better future</p>
          </div>
          <div class="col">
            <p>As I learn rails I can see why companies go this route, it automates many things and puts out quality work.</p>
          </div>
        </div>
        <div class="footer">
            <%= link_to 'About', about_path %>
        </div>
    </div>
   </body>
</html>